@use "@kickstartds/core/source/core/container";
@include container.wrapper("teaser-card");

:root {
  .dsa-teaser-card {
    --dsa-teaser-card--shadow: none;

    --dsa-teaser-card--border-color: transparent;
    --dsa-teaser-card--border-color_hover: transparent;

    // Scaling for Mobile Breakpoint
    --dsa-teaser-card--padding: var(--ks-spacing-inset-xl);

    @media (min-width: 48em) {
      //Scaling for Desktop Breakpoint SmallTiles
      --dsa-teaser-card--padding: var(--ks-spacing-inset-l);
    }
  }
}
