:root,
[ks-inverted],
[ks-theme],
.dsa-headline {
  --dsa-headline--gap: 0;
  --dsa-headline--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-headline--highlight-background: var(--ks-text-color-primary);

  --dsa-headline__subheadline--color: var(--ks-color-primary);
  --dsa-headline__subheadline--font-weight: var(--ks-font-weight-bold);
  --dsa-headline__headline-spacing: 0.35em;

  --dsa-headline__anchor--transform: translateY(-0.1em);
  --dsa-headline__anchor--size: 0.825em;

  --dsa-headline__subheadline--font-family: var(--ks-font-family-copy);
  --dsa-headline_h1__subheadline--font-size: 0.65em;
  --dsa-headline_h2__subheadline--font-size: 0.75em;
  --dsa-headline_h3__subheadline--font-size: 0.75em;
  --dsa-headline_h4__subheadline--font-size: 0.75em;
  --dsa-headline_p__subheadline--font-size: 0.75em;
}
