.dsa-slider {
  --dsa-slider--animation-duration: 1s;
  --dsa-slider--autoplay-duration: 4s;

  --dsa-slider__arrow--background-color: var(--ks-color-fg-alpha-4);
  --dsa-slider__arrow--background-color_hover: var(--ks-color-fg-alpha-3);
  --dsa-slider__arrow--background-color_active: var(--ks-color-fg-alpha-3);

  --dsa-slider__bullet--border-color: var(--ks-border-color-default);
  --dsa-slider__bullet--border-color_hover: var(--ks-border-color-default);
  --dsa-slider__bullet--border-color_active: var(--ks-color-primary);

  --dsa-slider__bullet--size: 1rem;
  --dsa-slider__bullet--background-color: transparent;
  --dsa-slider__bullet--background-color_hover: var(--ks-color-fg-alpha-8);
  --dsa-slider__bullet--background-color_active: var(--ks-color-primary);

  --dsa-slider__arrow--color: var(--ks-color-fg-inverted);
}
