version: 2.1

defaults: &defaults
  docker:
    - image: cimg/ruby:3.4.7
  resource_class: large

# aliases:
#   - &save-cache-yarn
#     key: yarn-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
#     paths:
#       - .yarn-cache
#   - &restore-cache-yarn
#     keys:
#       - yarn-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
#       - yarn-{{ checksum "yarn.lock" }}
#   - &save-cache-node
#     key: node-v1-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
#     paths:
#       - node_modules
#   - &restore-cache-node
#     keys:
#       - node-v1-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}
#       - node-v1-{{ checksum "yarn.lock" }}
#       - node-v1-

jobs:
  deploy:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      # - restore_cache: *restore-cache-yarn
      # - restore_cache: *restore-cache-node
      - run:
          name: Install Kamal
          command: gem install kamal
      - run:
          name: Build & Deploy Website
          command: kamal deploy
      # - save_cache: *save-cache-yarn
      # - save_cache: *save-cache-node

workflows:
  release:
    jobs:
      - deploy
