.prompter-selection-display {
  font-family: var(--prompter-font-family);
  padding: 1.25rem;
  line-height: 1.5;
  min-height: 5rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-end;

  &__text {
    color: rgba(0, 0, 0, 0.675);
    line-height: 1.35;
  }
}
