.prompter-selection-display {
  font-family: var(--prompter-font-family);
  line-height: 1.5;
  min-height: 5rem;
  font-size: 1.25rem;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.675);
  line-height: 1.35;

  &__text {
    display: block;
    margin-bottom: 0.5em;
    padding: 1.25rem;
  }

  &__topic {
    color: black;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__idea {
  }
}
