.prompter-section-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  transition: all 0.3s ease-in-out;

  > .l-container--rich-text {
    container-type: unset;
  }
}
