.prompter-button {
  font-family: var(--prompter-font-family);
  font-size: 1.125rem;
  font-weight: 700;
  background-color: var(--prompter-color);
  color: white;
  border-radius: 0.5em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  transition: all 0.2s;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

  &:disabled {
    display: none;
  }

  .icon {
    margin-left: 0.5em;
    width: 1.5em;
    height: 1.5em;
  }

  &:hover {
    filter: brightness(1.25);
  }

  &--secondary {
    color: black;
    background-color: white;
    border: 2px solid rgb(196, 196, 196);

    &:hover {
      filter: none;
      border-color: rgb(141, 141, 141);
    }
  }
}
