.prompter-headline {
  font-family: var(--prompter-font-family);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  font-weight: 600;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
