@import "./section-tokens.scss";

:root {
  .dsa-section.l-section--full {
    .l-section__container--headline {
      padding: 0;
    }
  }

  .dsa-section[data-ai-draft] {
    --shadow-size: 20px;
    --shadow-color: rgba(50, 50, 50, 0.35);
    --border-width: 1px;
    --border-color: rgba(50, 50, 50, 0.35);
    --badge-background: purple;

    position: relative;
    z-index: 2;

    > :first-child {
      // AI Draft Badge
      &::before {
        content: "KI Draft";
        position: absolute;
        left: 1em;
        top: calc(var(--shadow-size) + var(--border-width) + 0.5em);
        font: var(--ks-font-interface-s);
        font-weight: var(--ks-font-weight-semi-bold);
        color: white;
        background-color: var(--badge-background);
        border-radius: 99px;
        padding: 0.25em 0.75em;
      }

      // Decorative line along the left section edge
      &::after {
        content: "";
        top: calc(var(--shadow-size) + var(--border-width) + 3em);
        bottom: 2em;
        width: 4px;
        position: absolute;
        background-color: var(--badge-background);
        border-radius: 99px;
        left: 1em;
      }
    }

    // Shadow effect for AI draft sections
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: calc(var(--shadow-size) + var(--border-width));
      z-index: 999;
      position: absolute;
      left: 0em;
      // background: linear-gradient(
      //   var(--border-color),
      //   var(--border-color) var(--border-width),
      //   var(--shadow-color) var(--border-width),
      //   transparent
      // );
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      transform: rotate(180deg);
    }

    // Shadow removal for preceding draft sections
    &:has(+ .dsa-section[data-ai-draft]) {
      &::after {
        content: unset;
      }
    }

    // Shadow removal for following draft sections
    + .dsa-section[data-ai-draft] {
      &::before {
        content: unset;
      }
    }
  }
}
