@import "./section-tokens.scss";

:root {
  .dsa-section.l-section--full {
    .l-section__container--headline {
      padding: 0;
    }
  }

  .dsa-section[data-ai-draft] {
    --shadow-color: purple;
    --shadow-size: 20px;
    --shadow-color: rgba(128, 0, 128, 0.4);
    --border-width: 1px;
    --border-color: rgba(128, 0, 128, 0.45);
    --badge-background: purple;

    position: relative;
    z-index: 2;

    > :first-child {
      &::before {
        content: "KI Draft";
        position: absolute;
        left: 1em;
        top: calc(var(--shadow-size) + var(--border-width) + 0.5em);
        font: var(--ks-font-interface-xs);
        font-weight: var(--ks-font-weight-semi-bold);
        color: white;
        background-color: var(--badge-background);
        border-radius: 99px;
        padding: 0.25em 0.75em;
      }
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: calc(var(--shadow-size) + var(--border-width));
      z-index: 999;
      position: absolute;
      left: 0em;
      background: linear-gradient(
        var(--border-color),
        var(--border-color) var(--border-width),
        var(--shadow-color) var(--border-width),
        transparent
      );
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      transform: rotate(180deg);
    }

    &:has(+ .dsa-section[data-ai-draft]) {
      &::after {
        content: unset;
      }
    }

    + .dsa-section[data-ai-draft] {
      > :first-child {
        &::before {
          content: unset;
        }
      }

      &::before {
        content: unset;
      }
    }
  }
}
