@import "./section-tokens.scss";

:root {
  .dsa-section.l-section--full {
    .l-section__container--headline {
      padding: 0;
    }
  }

  .dsa-section[data-ai-draft] {
    position: relative;
    z-index: 2;

    // Decorative line along the left section edge
    &::after {
      content: "";
      top: 4rem;
      bottom: 2rem;
      width: 1px;
      border-left: 4px solid var(--prompter-color);
      position: absolute;
      border-radius: 99px;
      left: 1rem;
    }
  }
}
