@import "./section-tokens.scss";

:root {
  .dsa-section.l-section--full {
    .l-section__container--headline {
      padding: 0;
    }
  }

  .dsa-section[data-ai-draft] {
    outline: 0.5em solid var(--ks-color-informative);
    outline-offset: -0.5em;
  }
}
