.dsa-image-text {
  --dsa-image-text--font: var(--ks-font-copy-m);
  --dsa-image-text--color: var(--ks-text-color-copy);

  --dsa-image-text_highlight--font: var(--ks-font-copy-l);
  --dsa-image-text_highlight--color: var(--ks-text-color-default);
}
