@import "./headline-tokens.scss";
:root {
  .dsa-headline {
    .dsa-headline__headline:not(:last-child) {
      margin-bottom: var(--dsa-headline__headline-spacing);
    }

    .dsa-headline__headline:not(:first-child) {
      margin-top: var(--dsa-headline__headline-spacing);
    }

    &--h1 {
      font: var(--dsa-headline_h1--font, var(--ks-font-display-xxl));

      .dsa-headline__subheadline {
        font-size: var(--dsa-headline_h1__subheadline--font-size, 0.65em);
      }
    }

    &--h2 {
      font: var(--dsa-headline_h2--font, var(--ks-font-display-xl));

      .dsa-headline__subheadline {
        font-size: var(--dsa-headline_h2__subheadline--font-size, 0.55em);
      }
    }

    &--h3 {
      font: var(--dsa-headline_h3--font, var(--ks-font-display-l));

      .dsa-headline__subheadline {
        font-size: var(--dsa-headline_h3__subheadline--font-size, 0.65em);
      }
    }

    &--h4 {
      font: var(--dsa-headline_h4--font, var(--ks-font-display-m));

      .dsa-headline__subheadline {
        font-size: var(--dsa-headline_h4__subheadline--font-size, 0.75em);
      }
    }

    &--p {
      font: var(--dsa-headline_p--font, var(--ks-font-copy-m));

      .dsa-headline__subheadline {
        font-size: var(--dsa-headline_p__subheadline--font-size, 0.75em);
      }
    }

    .dsa-headline__subheadline {
      font-family: var(--dsa-headline__subheadline--font-family, var(--ks-font-family-display));
    }

    &--h1 {
      .dsa-headline__headline:not(:last-child),
      .dsa-headline__headline:only-child {
        display: flex;
        flex-direction: column;

        &:after {
          content: "";
          font-size: inherit;
          background-color: var(--ks-color-secondary);
          height: 6px;
          width: 10%;
          min-width: 3rem;
          max-width: 4rem;
          margin-top: var(--dsa-headline__headline-spacing);
        }
      }

      .dsa-headline__headline:not(:first-child) {
        display: flex;
        flex-direction: column;

        &:before {
          content: "";
          font-size: inherit;
          background-color: var(--ks-color-secondary);
          height: 6px;
          width: 10%;
          min-width: 3rem;
          max-width: 4rem;
          margin-bottom: var(--dsa-headline__headline-spacing);
        }
      }

      &.dsa-headline--align-center {
        .dsa-headline__headline,
        .dsa-headline__subheadline {
          align-items: center;
        }
      }

      &.dsa-headline--align-left {
        .dsa-headline__headline,
        .dsa-headline__subheadline {
          align-items: flex-start;
        }
      }

      &.dsa-headline--align-right {
        .dsa-headline__headline,
        .dsa-headline__subheadline {
          align-items: flex-end;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  a {
    --g-link--font-weight: var(--ks-font-weight-semi-bold);
  }
}
