.prompter-section {
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: linear-gradient(95.13deg, #fdfdfd 0%, #f5f4f4 100%);

  &__content {
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.85rem;
    max-width: 700px;
    margin: auto;
    padding: 40px;
    color: rgb(70, 70, 70);
    font-family: var(--prompter-font-family);
    font-size: 1.25rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }

  &__description {
    color: rgb(70, 70, 70);
    font-family: var(--prompter-font-family);
    font-size: 1.25rem;
    line-height: 1.25;
  }

  &__button-row {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: stretch;

    > * {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }
}
